.button-area {
  padding-top: 45px;
}

.sidebar {
  margin-top: 80px;
  width: 25%; 
  background-color: white;
  height: 100vh;
  position: fixed;
}

.button-area {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

.btn:hover{
  background-color: whitesmoke;
}

.btn {
  margin-bottom: 25px;
  background-color: white;
}

.create-otyakai-button{
  color:white;
  text-decoration: none;
}

.profile-button{
  color:black;
  text-decoration: none;
}

.side-icon{
  margin-right: 5px;
  vertical-align: -2px;
}
