/* App.css */
.App {
  text-align: center;
}

/* Header.css */
.header {
  background-color: #E6F3D9;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.logo {
  font-size: 1.5em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

button {
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}
